$primary-default: #3563e9;
$primary-dark: #1a37a7;
$primary-light: #d6e4fd;

$secondary-default: #1a202c;
$secondary-400: #596780;
$secondary-300: #90a3bf;
$secondary-200: #c3d4e9;

$white: #ffffff;
$grey: #f6f7f9;

$success: #9cd323;
$error: #ff4423;
$warning: #ffc73a;
$notification: #54a6ff;
